#myNavbar {
    background-color: #60caee;
}
.navbar {
    background-color: #60caee;
}

.container-fluid {
  background-color: #60caee;  
}

.navbar navbar-inverse {
    background-color: #60caee;
}

.jumbotron {
    background-color: #60caee;
}

a{
    color: black; 
}